%h1 ToDo Project
%div.row
  %div.span8    
    %img.img-rounded{:src => "assets/todolist.jpg"}
  %div.span4
    %div.well
      %h3 Don't Forget Anything
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ipsum sem, commodo quis lobortis in, ultrices et risus. Ut molestie mauris vel quam hendrerit ut blandit nulla aliquet. Integer auctor lorem nec nunc dapibus volutpat non sit amet orci phasellus scelerisque tellus. 